@{
    ViewBag.Title = "Main";
}
@section scripts {
    @Scripts.Render("~/bundles/fancyboxjs")
    @Scripts.Render("~/bundles/arborjs")
    @Scripts.Render("~/bundles/visjs")
}
@section styles {
    @Styles.Render("~/bundles/viscss")
}

@model Web.Models.SemanticNetworkModel
    <div class="container" style="height:100%">
        <h2>Семантическая сеть</h2>
        @Html.DropDownList("ddl_sem_network", 
            Model.SemanticNetworkListModel, 
            new { @style = "width:200px;" })
        <button type="button" class="btn btn-default btn-md" id="addSemNetwork">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="btn btn-default btn-md" id="editSemNetwork">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" class="btn btn-default btn-md" id="removeSemNetwork">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div id="network-popUp">
            <span id="operation">Вершина</span> <br>
            <table style="margin:2px;">
                <tr>
                    <td>Название</td>
                    <td><input id="node-label" value="new value" /></td>
                </tr>
            </table>
            <input type="button" value="Сохранить" id="saveButton" />
            <input type="button" value="Выход" id="cancelButton" />
        </div>
        <br />
        <div id="mynetwork"></div>
    </div>

    <div id="addSemNetworkDiv" style="display:none">
        <div class="input-group">
            <input type="text" class="form-control" id="semNetworkName" value="Новая сем сеть">
        </div>
        <button type="button" class="btn btn-success btn-md" id="addSemNetworkConfirm">
            <span class="glyphicon glyphicon-plus"></span> Добавить семантическую сеть
        </button>
        <button type="button" class="btn btn-success btn-md" id="cancelAddSemNetworkConfirm">
            Отмена
        </button>
    </div>

    <div id="editSemNetworkDiv" style="display:none">
        <div class="input-group">
            <input type="text" class="form-control" id="semNetworkNameForEdit" value="Новая сем сеть">
        </div>
        <button type="button" class="btn btn-success btn-md" id="editSemNetworkConfirm">
            <span class="glyphicon glyphicon-plus"></span> Изменить семантическую сеть
        </button>
        <button type="button" class="btn btn-success btn-md" id="cancelEditSemNetworkConfirm">
            Отмена
        </button>
    </div>   
